.font{
    font-weight: bold;
}
.a{
    border: 1px solid red;
}
.marginRight{
    margin-right: 5px;
}

.textAlignR{
    text-align: right;
}
.addBtn{
    border: none;
    background-color: #FDFDFE;

}
